<?xml version="1.0"?>
<config>
    <modules>
        <Facilestore_Quota>
            <version>0.0.1</version>
        </Facilestore_Quota>
    </modules>   
    <global>
        <blocks>
            <quota>
                <class>Facilestore_Quota_Block</class>
            </quota>
        </blocks>
        <helpers>
            <quota>
                <class>Facilestore_Quota_Helper</class>
            </quota>
        </helpers>
    </global>
    <frontend>
        <routers>
            <quota>
                <use>standard</use>
                <args>
                    <module>Facilestore_Quota</module>
                    <frontName>quota</frontName>
                </args>
            </quota>
        </routers>
        <layout>
            <updates>
                <quota>
                    <file>facilestorequota.xml</file>
                </quota>
            </updates>
        </layout>        
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <facilestore_quota>
                                            <title>Facile Store</title>
                                        </facilestore_quota>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <facilestore_quota>
            <general>
                <enable>1</enable>
                <qtdparcelas>12</qtdparcelas>
                <valorminimoparcela>0</valorminimoparcela>
                <juroscartao>0.99</juroscartao>
                <boleto_enable>1</boleto_enable>
                <porcentagem_boleto>5</porcentagem_boleto>
                <txt_boleto>#percent#% Desc. Boleto - #valor#</txt_boleto>
            </general>
        </facilestore_quota>
    </default>
</config>